/*Global*/
body{
     font-family: 'Raleway', sans-serif;
     background-color: lightslategray;
}

p{
    line-height: 2;
    font-size: 14px;

}

h1{
    text-align: center;
}

h2,h3{
    text-align: left;
}

h1{
    font-size:35px ;
    border-bottom: 2px solid white;
}

i{
    font-size:30px;
}
/* Header */
header{
    background-image: url(bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color:whitesmoke;
    width: 100%;
    height: 300px;
    text-align: center;
    border-radius: 5px;/*Borders of */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* Header */
footer{
    background-image: url(bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color:whitesmoke;
    width: 100%;
    height: 25px;
    text-align: center;
    border-radius: 5px;/*Borders of */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main{
    background-color: lightblue;
    width: 100%;

    border-radius: 5px;/*Borders of */
    display: flex;
    flex-direction: column;


}

.address{
    font-size: 18px;
}


h2{
    background-color:#013d64;
    color:white;
    width: 250px;
    font-size:22px;
    height: 40px;
    border-radius: 9px;/*Borders of */
    text-align:center;
}
h3{
    background-color:#013d64;
    color:white;
    width: 250px;
    font-size:22px;
    height: 40px;
    border-radius: 9px;/*Borders of */
    text-align:center;
 
}


.btn{
    background-color:#013d64;
    color:white;
    width: 200px;
    font-size:18px;
    height: 40px;
    border-radius: 20px;/*Borders of */
    /*margin-left: 10px;*/

}

.btn:hover{
    font-size: 19px;
    background-color: lightslategrey ;
}
